@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
  background: #f7f4ff;
  color: #161126;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
